footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
    background-color: $color-principal;
}

col{
    display: flex;
    justify-content: space-between;
}

.logo2{
    height: 9em;
}