.form{
    h3{
        text-align: center;
        margin-top: 5em;
    }
    .form1{
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .form3{
        display: flex;
        justify-content: center;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
    .ubication{
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }
}