.section1{
    border-radius: 10%;
    background-color: $color-principal;
    margin-top: 5em;
    margin-bottom: 5em;

    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
}